[alias]
    amend = !git add . && git commit --amend --no-edit
    bkp-branch = !git checkout -b "bkp/$(git current-branch)"
    current-branch = branch --show-current
    fetch-all = !git fetch --all --auto-gc --prune --tags --show-forced-updates --prune-tags --progress
    quick-init = !git init && git add . && git commit -m 'Initial commit'
    vcommit = !git add . && git commit -am "v$(date '+%Y%m%d%_H%M%S')"
    woke-bs = branch -m master main

[diff]
    tool = meld

[difftool]
    prompt = no

[init]
    defaultbranch = master

[pull]
    rebase = true

[push]
    autosetupremote = true
