#waybar {
    background-color: rgba(43, 48, 59, 0.5);
}

.modules-left,
.modules-center,
.modules-right {
    background-color: rgba(0, 119, 179, 0.6);
    border-radius: 20px;
    margin: 3px;
}

/*-----modules ----*/
#workspaces button {
    border-radius: 20px;;
    min-width: 25px;
    padding: 3px;
}

#workspaces button.active {
    background-color: rgba(0, 119, 179, 0.8);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#window,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-launcher,
#idle_inhibitor {
    padding: 0 10px;
}

#mode {
    color: #cc3436;
    font-weight: bold;
}

#custom-power {
    background-color: rgba(0, 119, 179, 0.6);
    border-radius: 100px;
    margin: 5px 5px;
    padding: 1px 1px 1px 6px;
}

#pulseaudio.muted {
    color: #cc3436;
}
